::ng-deep .mat-list .mat-list-item {
    word-wrap: break-word;
    white-space: pre-wrap;
    border-bottom: darkorange;
 }
 
 ::ng-deep  .mat-list .mat-list-item{
     height:120px!important;
     border-bottom: darkorange;
 }
 
 ::ng-deep.mat-card-header-text {
     width: 100%;
     border-bottom: darkorange;
 }
 
 .flex-row {
     margin-top: 10px;
     display: flex;
     flex-direction: row;
 
     > div {
         flex: 50%;
         padding: 10px;
     }
 }
 
 mat-icon {
     margin-left: 30px;
     color: gray;
 }
 
 .story-link {
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     font-weight: 500;
 }
 
 .story-title{
     --text-opacity: 1;
     color: #161e2e;
     color: rgba(22,30,46,var(--text-opacity));
     font-size: 20px;
 }
 
 .story-user {
     cursor: pointer;
     vertical-align: middle;
     margin-left: 5px;
     font-size: 16px;
     color: gray;
 }
 
 .story-metadata {
     margin-left: -35px;
 }
 
 .mat-icon {
     vertical-align: middle;
 }
 
 .example-card {
     margin:2em;
     padding-top:0;
     padding-left:0;
     padding-right:0
 }
 